<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Amethyst - Wi-fi Users</title>
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/todcbootstrap.css">
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<div class="wrapper" data-userid="{{ current_user_id }}" data-username="{{ current_user_name }}">
		<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="brand" href="#">Amethyst</a>
	        </div>
	      </div>
	    </div>

	    <div class="notification">
	    	<button class="btn btn-large" id="enable_notifications">Enable Notifications</button>
	    </div>

	    <div class="clear"></div>

		<div class="alert alert-info">
			<p>
		  		<strong>Browsing</strong> - viewing of webpages (facebook, google, etc.)
			</p>
			<p>
				<strong>Downloading</strong> - torrents, direct-download, online video streaming (youtube and similar sites)
			</p>
		</div>	    

		<div class="users container">
			{{#each users}}
			<div class="user">

				<div class="username">
					<i class="icon-user"></i>
					{{ name }}
				</div>
				<div class="status">
					<button class="btn btn-large {{ btn_class }} toggle_status" data-status="{{ status }}" data-id="{{ id }}" data-name="{{ name }}" type="button" {{ disabled }}>{{ status }}</button>
				</div>
				{{#if disabled}}
				<div class="chat">
					<button class="btn btn-large btn-success chat" type="button" data-id="{{ id }}">chat with me</button>
				</div>
				{{/if}}
			</div>
			{{/each}}
		</div>

		<div id="chatbox_container">
		{{#each users}}
			<div class="chatbox" data-id="{{ id }}">
			  <div class="chatbox_header">
			  	{{ name }}
			  	<span class="close">x</span>
			  </div>
			  <div class="messages"></div>
			  <div class="message">
			  	<textarea rows="2" data-receiver-id="{{ id }}"></textarea>
			  </div>
			</div>
		{{/each}}
		</div>
	</div>
	
	
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/vendor/jquery.min.js"></script>
	<script src="/js/vendor/handlebars.js"></script>
	

	<script>
	var socket = io.connect('http://localhost');

	function check_notification_permission(){
		if(window.webkitNotifications.checkPermission() != 0){ 
			return true;
		}
		return false;
	}

	if(check_notification_permission()){
		$('#enable_notifications').show();
	}

	$('#enable_notifications').click(function(){
		if(!check_notification_permission()){
			window.webkitNotifications.requestPermission();
		}
	});

	$('.toggle_status').click(function(){
		var self = $(this);
		var id = self.data('id');
		var username = self.data('name');
		var current_status = self.data('status');
		
		$.ajax({
			url: '/toggle_status',
			type: 'POST',
			dataType: 'json',
			data: {
				'id': id,
				'current_status' : current_status
			},
			success: function(response){
				self.text(response.new_status);
				self.data('status', response.new_status);
				self.removeClass('btn-primary btn-danger');
				self.addClass(response.btn_class);

				
				socket.emit('toggle_status', {'id' : id, 'status' : response.new_status, 'btn_class' : response.btn_class, 'username' : username});
			
			}
		});
	});

	$('.chat').click(function(){
		
		var self = $(this);
		var current_user_id = $('[data-userid]').data('userid');
		var selected_user_id = self.data('id');

		$(".chatbox[data-id="+ selected_user_id +"]").show();
	});

	socket.on('update_toggle', function(data){
		$("button[data-id="+ data.id +"]").data('status', data.status).removeClass('btn-primary, btn-danger').addClass(data.btn_class).text(data.status);

		var notification_title = 'user updated status';
		var notification_content = data.username + ' has updated status to ' + data.status;

		var notification = window.webkitNotifications.createNotification(
    	'/img/update.png', notification_title, notification_content);
    	
    	notification.show();

	});

	var messages = {};

	socket.on('send', function(data){
		
		var current_user_id = $('[data-userid]').data('userid');

		var sender_id = data.sender_id;
		var sender_name = data.sender_name;
		var receiver_id = data.receiver_id;
		var message = data.message;

		if(current_user_id == sender_id || current_user_id == receiver_id){
			
			if(!messages[receiver_id]){
				messages[receiver_id] = {};
			}

			if(!messages[receiver_id]['messages']){
				messages[receiver_id]['messages'] = [];
			}	

			messages[receiver_id].messages.push(data);
			var msgs = messages[receiver_id].messages;
			var messages_count = msgs.length;
			
			
			$(".chatbox[data-id="+ receiver_id +"] .messages").html('');

			
			for(var x = 0; x < messages_count; x++){

				$(".chatbox[data-id="+ receiver_id +"] .messages").append('<div class="msg"><span class="sender_name">' + msgs[x]['sender_name'] + ': </span><span class="msg">' + msgs[x]['message'] + '</span></div>');
			}
			
			var messages_container = $(".chatbox[data-id="+ receiver_id +"] .messages");
			var messages_container_height = messages_container[0].scrollHeight;
			
			messages_container.scrollTop(messages_container_height);

		}


	});


	$('textarea').keyup(function(e){
		var self = $(this);
		var code = (e.keyCode ? e.keyCode : e.which);
		
		var sender_id = $('[data-userid]').data('userid');
		var sender_name = $('[data-username]').data('username');
		var receiver_id = self.data('receiver-id');

		

		var message = self.val();


		if(code == 13){ 
			
			socket.emit('message', {'sender_id' : sender_id, 'sender_name' : sender_name, 'message' : message, 'receiver_id' : receiver_id});

			self.val('');


		}
	});

	$('.close').click(function(){
		$(this).parents('div:eq(1)').hide();
	});	
	</script>
</body>
</html>